body{
    background-image: linear-gradient(to bottom, rgba(185, 99, 243, 0.92) 0%, rgba(185, 99, 243, 0.92) 40%, rgb(9, 9, 86) 40%, rgb(9, 9, 86) 100%);
    height: 100vh;
}
.navbar{
    background: rgba(216, 172, 245, 0.92);
    width: 90%;
    height: 60px;
    margin: 0 auto;
    z-index: 1030;
    position: fixed;
    transition: 0.2s;
    display: flex;
}
.title{
    padding-left: 40px;
}
.container-fluid {
    padding: 0;
  }
  
  .navbar-brand {
    margin-right: 1rem;
  }
  
  .navbar-nav {
    flex-direction: row;
  }
  
  .navbar-nav .nav-item {
    margin-left: 1rem;
  }
  
/* Profile Picture */
.profile-pic{
    display: inline-block;
    vertical-align: middle;
     width: 50px;
     height: 50px;
     overflow: hidden;
    border-radius: 50%;
 }
 
 .profile-pic img{
    width: 100%;
    height: auto;
    object-fit: cover;
 }
 .profile-menu .dropdown-menu {
   right: 0;
   left: unset;
 }
 .profile-menu .fa-fw {
   margin-right: 10px;
 }
 
 .toggle-change::after {
   border-top: 0;
   border-bottom: 0.3em solid;
 }

 /* main */
 .image-container{
    width: 100%;
    height:300px;
    margin-top: 0;
 }
 .conatiners img{
  width: 330px;
  height: 240px;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }
 .conatiners{
  padding: 0px 15px;
 }
 .image-container{
    display: flex;
 }
 .containers1{
  display: flex;
  align-items: start;
 }
 .containers2{
  display: flex;
  align-items: end;
 }

 /* card design */
 .departments{
  width: 100%;
  height: 320px;
  /* background: rgba(0, 0, 255, 0.216); */
  display: flex;
  align-items: center;
  justify-content: space-around;
 }
 .dep-containers{
  width: 250px;
  height: 300px;
  background: white;
  display: flex;
  align-items: center;
  padding-top: 15px;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: rgba(80, 136, 249, 0.56) 0px 22px 70px 4px;
  margin-top: 25px;
 }
 .img-logo{
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  background: rgb(168, 50, 247);
 }
 .img-logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 .basic-info{
  display: flex;
  flex-direction: column;
 } 
 .main-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: 900;
  color: rgb(6, 6, 128);
  
 }
 p{
  padding-left: 13px;
  color: rgb(9, 9, 86);
  font-weight: 600;
 }
 .btn-more{
  display: flex;
  justify-content: center;
 }
 .btn-more button{
  border: none;
  text-align: center;
  text-decoration: none;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 3px solid rgb(168, 50, 247);
 }
 .btn-more button:hover{
  background-color: rgb(9, 9, 86);
  color: white;
 }

